{% extends "admin/base_site.html" %}
{% load adminmedia admin_supplier_url %}
{% block title %} Select supplier to view {% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
<style>#changelist table thead th:first-child {width: inherit}</style>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/getElementsBySelector.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/actions.js"></script>
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/ie.css" /><![endif]-->
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../">Home</a>
       &rsaquo; 
       <a href="../">Papershare</a>
      &rsaquo; 
      Supplier manager
    </div>
  {% endblock %}
{% endif %}

{% block content %}

<h1>Select supplier to change</h1>
<div id="content-main">
        <ul class="object-tools">
          <li>
            <a href="/papershare/admin/papershare/papershareprofile/add" class="addlink">
              Add supplier
            </a>
          </li>
        </ul>
    <div class="module filtered" id="changelist">
          <div id="changelist-filter">
            <h2>Filter</h2>
<h3> By research_field </h3>
<ul>
    <li {% if not request.research_field__exact %}class='selected'{% endif %}>
    <a href="?">All</a></li>
	{% for item_key,item_value in filters %}
    <li {% ifequal request.research_field__exact item_key %}class='selected'{% endifequal %}>
    <a href="{% custom_request request_query research_field__exact item_key %}research_field__exact={{item_key}}">
    {{item_value}}</a>
    </li>
	{% endfor %}
</ul>
          </div>
        
      <form action="" method="post">
      <div style="display: none;"></div>
      
	<div class="actions">
	    <label>Action: <select name="action">
		<option value="" selected="selected">---------</option>
		<option value="delete_selected">Disable selected supplier</option>
		</select></label>
	    <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
	</div>

	<table cellspacing="0">
		<thead>
			<tr>
				<th><input style="display: inline;" id="action-toggle" type="checkbox"></th>
				<th><a href="{% custom_request request_query field username %}field=username&sort={{sort_type}}">Username</a></th>
				<th>Research field</th>
				<th><a href="{% custom_request request_query field last_login %}field=last_login&sort={{sort_type}}">Last login</a></th>
				<th><a href="{% custom_request request_query field date_joined %}field=date_joined&sort={{sort_type}}">Date join</a></th>
				<th title="Tổng số bài báo được giao"><a href="{% custom_request request_query field paper_supply %}field=paper_supply&sort={{sort_type}}">A</a></th>
				<th title="Cung cấp/ trễ"><a href="{% custom_request request_query field paper_supplied %}field=paper_supplied&sort={{sort_type}}">B</a></th>
				<th title="Chuyển/ trễ"><a href="{% custom_request request_query field paper_passed %}field=paper_passed&sort={{sort_type}}">C</a></th>
				<th title="Chờ/ ngày"><a href="{% custom_request request_query field paper_waiting %}field=paper_waiting&sort={{sort_type}}">D</a></th>
				<th title="Được giúp"><a href="{% custom_request request_query field paper_someone_supplied %}field=paper_someone_supplied&sort={{sort_type}}">E</a></th>
				<th title="Giúp"><a href="{% custom_request request_query field paper_help_supplied %}field=paper_help_supplied&sort={{sort_type}}">F</a></th>
			</tr>
		</thead>
	<tbody>
	
	{% for item in supplier_list %}
	<tr class="{% cycle 'row1' 'row2' %}">
		<td>
			<input class="action-select" value="{{item.userid}}" name="_selected_action" type="checkbox"></td>
		<td>
			<a href="{{item.user.id}}/">{{item.username}}</a></td>
		<td>
			{{item.research_field}}</td>
		<td>
			{{item.last_login}} day(s) ago</td>
		<td>
			{{item.date_joined|date}}</td>
		<td title="Tổng số bài báo được giao: {{item.paper_supply}}">
			{{item.paper_supply}}</td>
		<td title="Số bài báo đã cung cấp: {{item.paper_supplied}}/Số bài báo cung cấp trễ: {{item.late_supply}}">
			{{item.paper_supplied}}/{{item.late_supply}}</td>
		<td title="Số bài báo đã chuyển cho người khác: {{item.paper_passed}}/Số bài chuyển trễ: {{item.paper_late_passed}}">
			{{item.paper_passed}}/{{item.paper_late_passed}}</td>
		<td title="Số bài báo hiện đang chờ: {{item.paper_waiting}}/Số ngày chờ lâu nhất: {% ifnotequal item.days_late 0 %} / {{item.days_late}} day(s) {% endifnotequal %}">
			{{item.paper_waiting}}{% ifnotequal item.days_late 0 %} / {{item.days_late}} day(s) {% endifnotequal %}</td>
		<td title="Số bài báo được cung cấp bởi thành viên khác: {{item.paper_someone_supplied}}">
			{{item.paper_someone_supplied}}</td>
		<td title="Số bài báo giúp các supplier khác: {{item.paper_help_supplied}}">
			{{item.paper_help_supplied}}</td>
		</tr>
	{% endfor %}
	
	</tbody>
	</table>


<p class="paginator">
{% ifnotequal paging.count 0 %}
	{% for item in pages %}
		{% ifequal item current_page %}
			{% ifnotequal paging.num_pages 1 %}
				<span class="this-page">{{item}}</span>
			{% endifnotequal %} 	
		{% else %}
			<a href="{% custom_request request_query p item %}p={{item}}">{{item}}</a>
		{% endifequal %}
	{% endfor %}
	{{paging.count}} items
{% endifnotequal %} 
</p>
   </form>
    </div>
  <table width="100%" id="#ct">
  	<tr>
  		<td align="left">A: Tổng giao (tức là tổng số bài được giao/phân công)</td>
  	</tr>
  	<tr>
  		<td  align="left">B: Cung cấp/ trễ (tổng số bài đã cung cấp/ số bài cung cấp trễ)</td>
  	</tr>
  	<tr>
  		<td  align="left">C: Chuyển/ trễ (tổng số bài đã chuyển/ số bài chuyển trễ)</td>
  	</tr>
  	<tr>
  		<td  align="left">D: Chờ/ ngày (tổng số bài đang chờ/ số ngày chờ lâu nhất (vd, có 3 bài đang chờ với số ngày chờ là 5, 2, 1 thì "ngày" = 5)</td>
  	</tr>
  	<tr>
  		<td  align="left">E: Được giúp (tổng số bài được các supp khác cung cấp/ xử lý giúp)</td>
  	</tr>
  	<tr>
  		<td  align="left">F: Giúp (tổng số bài cung cấp/ xử lý giúp các supp khác)</td>
  	</tr>
  </table>
    
{% endblock %}