{% extends "ncs/base.html" %}

{% block title %}Gửi tin nhắn cho đồng nghiệp{% endblock %}

{% block content %}
  <h3>Liên hệ</h3>
  <div align=center>
  <form action="." method="post">

    {% if form.errors %}
      <span class="error">{{ form.errors }}</span>
    {% endif %}
	<table>
		
	  	<tr><td><label for="id_email">From:</label></td><td>{{form.email}}</td></tr>
		<tr><td><label for="id_to">To:</label></td><td>{{form.toEmail}}</td></tr>
		<tr><td><label for="id_subject">Subject:</label></td><td>{{form.subject}}</td></tr>
		<tr><td><label for="id_content">Content:</label></td><td>{{form.content}}</td></tr>
	  
	</table>
	  <input type="submit" value="Gửi" disabled="true"/> <br>
	  Hiện tại chức năng này chưa hoạt động. Bạn hãy copy&paste thông tin trên vào trình email của bạn rồi gửi.
	  

  </form>
  </div>
  <p> </p>
{% endblock %}