{% extends "ncs/base.html" %}

{% block main %}
{% for item in announcements %}
<strong>{{ item.date }}</strong> <br />  
  {{ item.content|safe}}   <br />
____________________________<br />
{% endfor %}
{% endblock %}

{% block sidebar %}
<p> Chào {{ user }} !

<h4>Status</h4>
<ul>
<li>Bạn đang yêu cầu {{ requested }} bài báo</li>
<li>Bạn có {{ to_serve }} yêu cầu cần sử lý</li>
</ul>
<h4>Action</h4>
<ul>
<li><a href="/papershare/request/">Make Request</a></li>
<li><a href="/papershare/list/">Show Requests</a></li>
<li><a href="/accounts/settings/">Settings</a></li>
<li><a href="/accounts/logout/">Logout</a></li>
</ul>
{% endblock %}
