{% extends "papershare/feedback_form.html" %}

{% block title %} Nhac nho supplier luoi bien {% endblock %}

{% block content %}

{% if form.errors %}
    <span class="error">{{ form.errors }}</span>
{% else %}
    {% ifequal request.method "POST" %}
    <span class="success">Đã thực hiện thành công.</span>
    <p><a href="/parpeshare/">Click vao day de tro ve trang chu.<a></p>
    {% endifequal %}
{% endif %}
    
<form action="." method="post" name="lazy-supplier">
    <table>
        {{ form.as_table }}
        <tr>
            <td><input type="submit" name="sm" value="Send"></td>
        </tr>
    </table>
</form>

{% endblock content %}