{% extends "ncs/mypage.html" %}

{% block main %}
<h3>Yêu cầu bài báo</h3>
  <div align=center>
	<form method="post" action="">
		<table>
			<tr>
		    <b>Bold</b> field are <span style="color:#C80000;font-weight:bold">required</span>. 
		    </tr>
			<tr>
		     <td><label for="id_link"><b>Link</b></label></td>
		     <td>
		     {{ form.link }}		     
		     <a href="#" onclick="alert('chức năng tự động điền form từ url hiện chưa hoạt động')">Auto-fill</a>
		     </td>
		    </tr>

			<tr>
		    <td><label for="id_title"><b>Title</b></label></td>
		    <td>
		    {{ form.title }}
		    {% if form.title.help_text %}  {{ form.title.help_text }}  {% endif %}
		    {% if form.title.errors %}<span class="error">{{ form.title.errors }}</span>{% endif %}
		    </td>
		    </tr>

			<tr>
		    <td><label for="id_author"><b>Author</b></label></td>
		    <td>
		    {{ form.author }}
		    
		    {% if form.author.help_text %}  {{ form.author.help_text }}  {% endif %}
		    {% if form.author.errors %}<span class="error">{{ form.author.errors }}</span>{% endif %}
		    </td>
		    </tr>

			<tr>
		    <td><label for="id_publisher"><b>Publisher</b></label></td>
		    <td>
		    {{ form.publisher }}
		    {% if form.publisher.help_text %}  {{ form.publisher.help_text }}  {% endif %}
		    {% if form.publisher.errors %}<span class="error">{{ form.publisher.errors }}</span>{% endif %}
		    </td>
			</tr>
			
			<tr>
		    <td><label for="id_issue">Issue</label></td>
		    <td>
		    {{ form.issue }}
		    {% if form.issue.help_text %}  {{ form.issue.help_text }}  {% endif %}
		    {% if form.issue.errors %}<span class="error">{{ form.issue.errors }}</span>{% endif %}
		    </td>
			</tr>
			
			<tr>
		    <td><label for="id_year"><b>Year</b></label></td>
		    <td>
		   	{{ form.year }}
		    {% if form.year.help_text %}  {{ form.year.help_text }}  {% endif %}
		    {% if form.year.errors %}<span class="error">{{ form.year.errors }}</span>{% endif %}
		    </td>
			</tr>
			
			<tr>
		    <td><label for="id_page">Page</label></td>
		    <td>
		    {{ form.page }}
		    {% if form.page.help_text %}  {{ form.page.help_text }}  {% endif %}
		    {% if form.page.errors %}<span class="error">{{ form.page.errors }}</span>{% endif %}
		    </td>
		    </tr>
		    
		    <tr>
		    <td><label for="id_research_field"><b>Research field</b></label></td>
		    <td>{{ form.research_field }}
		    </td>
		    </tr>
		    
		    
		    <tr>
			    <td></td>
			    <td>
				<input type="hidden" name="requester" value="{{ user.id }}"/>
				<input type="submit" value="Gửi yêu cầu"/>
				<input type="reset" value="Làm lại từ đầu"/>
			    </td>
		    </tr>
		    
		</table>
		
	</form>
  </div>
{% endblock %}

