{% extends "ncs/mypage.html" %}

{% block main %}
{{full_path}}
    <h2>Xử lý yêu cầu (<a help="Hướng dẫn sử lý yêu cầu" href="/media/help.html#h2" target="blank" class="help">?</a>)</h2>
    <form enctype="multipart/form-data" action="/papershare/upload/" method="post">
    <table>
		<tr>
		     <td>Link đến bài báo</td>
		     <td>		   
		     <a target="_blank" href="{{request.paper.link}}">Ấn vào đây (mỏ cửa sổ mới)</a>)
		     </td>
		</tr>
		<tr>
		     <td>Người yêu cầu</td>
		     <td>
		     <a target="blank" href="/papershare/contactPaper/{{request.id}}/">{{request.requester}}</a>
		     </td>
		</tr>
		<tr>
		     <td>Tiêu đề</td>
		     <td>
		     {{request.paper.title}}
		     </td>
		</tr>
		<tr>
		     <td>Tác giả</td>
		     <td>
		      {{request.paper.author}}
		     </td>
		</tr>
		<tr>
		     <td>Tạp chí</td>
		     <td>
		     {{request.paper.publisher}}
		     </td>
		</tr>
		<tr>
		     <td>Năm xuất bản</td>
		     <td>
		     {{request.paper.year}}
		     </td>
		</tr>
		<tr>
		     <td>Số</td>
		     <td>
		     {{request.paper.issue}}
		     </td>
		</tr>
		<tr>
		     <td>Trang</td>
		     <td>
		     {{request.paper.page}}
		     </td>
		</tr>
		<tr>
		     <td>Gửi bài</td>
		     <td>
		     {{ form.file}}
		     <input type="hidden" name="request_id" id="id_request_id" value="{{request.id}}"/>
		     </td>
		</tr>
		<!-- 
		<tr>
	    	<td></td>
	     	<td>
	   		<a href="mailto:{{request.requester.email}}?subject=Bài báo của bạn :{{request.paper.title}}&amp;body=Chào bạn {{request.requester.username}}, %0A Đây là bài báo mà tôi tìm được giúp bạn %0AThân, %0A">Liên hệ bằng Outlook</a> <br>	     	
	   		<a href="/papershare/contactPaper/{{request.id}}/">Liên hệ bằng Yahoo/Gmail...</a>
	     	</td>
		</tr>
		 -->
	</table>	
	<input type="submit" name="buttonSupply" value="Gửi bài báo" />
	
	{% ifequal user request.supplier %}
		{% ifequal request.status 6 %}
		<input type="submit" name="buttonFail" value="Báo cáo thất bại" />
		{% else %}
		<input type="submit" name="buttonPass" value="Chuyển cho người khác" />
		{% endifequal %}
	{% endifequal %}
	
	{% if user.is_staff %}
		<input type="submit" name="buttonFail" value="Can not supply" />
	{% endif %}


    	{% if user.is_staff %}
                <input type="text" name="username" value="" />
		<input type="submit" name="buttonAssign" value="Chuyển bài báo" />
	{% endif %}
</form>	
	
	
{% endblock %}