{% extends "ncs/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}

<p>
Chúc mừng bạn đã đăng ký thành công !

<p>
Chúng tôi đã gửi cho bạn một email hướng dẫn kích hoạt tài khoản của bạn.
<p>
Xin vui lòng làm theo hướng dẫn.
<p>
Nếu bạn không tìm thấy email kích hoạt, có khả năng là email rơi vào hòm thư rác
(bulk mail). Chúng tôi khuyến kích bạn add địa chỉ info@nghiencuusinh.org vào address book
của bạn đễ tráng tình trạng nhầm lẫn với thư rác.
<p>
Cảm ơn bạn đã tham gia cộng đồng nghiencuusinh.org.
<p>
Nghiêncứusinh.org 
<p>
{% endblock %}