{% extends "ncs/base.html" %}

{% block main %}
{% for item in announcements %}
<strong>{{ item.date }}</strong> <br />  
  {{ item.content|safe}}   <br />
____________________________<br />
{% endfor %}
{% endblock %}

{% block sidebar %}
<p> Chào {{ user }} !

<h4>Cặp của bạn</h4>
<ul>
<li>Bạn đang yêu cầu <a href="/papershare/my_requests/">{{ requested }} bài báo</a></li>
<li>Bạn có <a href="/papershare/supply/">{{ to_serve }} yêu cầu </a>cần xử lý</li>
</ul>
<h4>Hành động</h4>
<ul>
<li><a href="/papershare/request/">Yêu cầu bài báo</a></li>
<li><a href="/papershare/supply/">Xử lý yêu cầu</a></li>
<li><a href="/papershare/public_pool/">Public Pool</a></li>
<li><a href="/accounts/settings/">Sửa thông tin cá nhân</a></li>
<li><a href="/accounts/logout/">Khắc xuất</a></li>
</ul>
{% if user.is_staff %}
<h4>Quản lý</h4>
<ul>
<li><a href="/admin/">Đăng nhập trang quản trị</a></li>
</ul>
<p>
{% endif %}
{% endblock %}
