{% extends "ncs/base.html" %}

{% block main %}
{% for item in announcements %}
<strong>{{ item.date }}</strong> <br />  
  {{ item.content|safe}}   <br />
____________________________<br />
{% endfor %}
{% endblock %}

{% block sidebar %}
<p> Chào {{ user }} !

<h4>Cặp của bạn</h4>
<ul>
<li>Bạn đang yêu cầu <a href="/papershare/my_requests/">{{ requested }} bài báo</a></li>
{% if is_supplier %}
<li>Bạn có <a href="/papershare/supply/">{{ to_serve }} yêu cầu </a>cần xử lý</li>
{% endif %}
</ul>
<h4>Hành động</h4>
<ul>
<li><a href="/papershare/request/">Yêu cầu bài báo</a></li>
{% if is_supplier %}
<li><a href="/papershare/supply/">Xử lý yêu cầu</a></li>
<li><a href="/papershare/public_pool/">Public Pool</a></li>
<li><a href="/papershare/trash_pool/">Trash Pool</a></li>
{% endif %}
<li><a href="/papershare/accounts/settings/">Sửa thông tin cá nhân</a></li>
<li><a href="/papershare/accounts/logout/">Khắc xuất</a></li>
</ul>
{% if user.is_staff %}
<h4>Quản lý</h4>
<ul>
<li><a href="/papershare/admin/">Đăng nhập trang quản trị</a></li>
</ul>
<p>
{% endif %}

{% if top_supplier %}
<h4>Top 10 Supplier</h4>
<table>
{% for username, id, total in top_supplier %}
    <tr><td>{{username}}</td><td>{{total}}</td></tr>
{% endfor %}
</table>
{% endif %}
{% if top_requester %}
<h4>Top 10 Requester</h4>
<table>
{% for username, id, total in top_requester %}
    <tr><td>{{username}}</td><td>{{total}}</td></tr>
{% endfor %}
</table>
{% endif %}
{{request.get_host}}
{% endblock %}
