{% extends "ncs/mypage.html" %}

{% block main %}
<h3>Yêu cầu bài báo</h3>
  <div align=center>
	<form method="post" action="">
		<table>
		
			<tr>
		     <td><label for="id_link">Link</label></td>
		     <td><input type="text" name="link" id="id_link" size="40"/>
		     <a href="#" onclick="alert('chức năng tự động điền form từ url hiện chưa hoạt động')">Auto-fill</a>
		     </td>
		    </tr>

			<tr>
		    <td><label for="id_title">Title</label></td>
		    <td><input id="id_title" type="text" name="title" size="60">
		    {% if form.title.help_text %}  {{ form.title.help_text }}  {% endif %}
		    {% if form.title.errors %}<span class="error">{{ form.title.errors }}</span>{% endif %}
		    </td>
		    </tr>

			<tr>
		    <td><label for="id_author">Author</label></td>
		    <td><input id="id_author" type="text" name="author" size="60" />
		    {% if form.author.help_text %}  {{ form.author.help_text }}  {% endif %}
		    {% if form.author.errors %}<span class="error">{{ form.author.errors }}</span>{% endif %}
		    </td>
		    </tr>

			<tr>
		    <td><label for="id_publisher">Publisher</label></td>
		    <td><input id="id_publisher" type="text" name="publisher" size="60" />
		    {% if form.publisher.help_text %}  {{ form.publisher.help_text }}  {% endif %}
		    {% if form.publisher.errors %}<span class="error">{{ form.publisher.errors }}</span>{% endif %}
		    </td>
			</tr>
			
			<tr>
		     <td><label for="id_issue">Issue</label></td>
		     <td><input type="text" name="issue" id="id_issue" />
		    {% if form.issue.help_text %}  {{ form.issue.help_text }}  {% endif %}
		    {% if form.issue.errors %}<span class="error">{{ form.issue.errors }}</span>{% endif %}
		    </td>
			</tr>
			
			<tr>
		    <td><label for="id_year">Year</label></td>
		    <td><input type="text" name="year" id="id_year" />
		    {% if form.year.help_text %}  {{ form.year.help_text }}  {% endif %}
		    {% if form.year.errors %}<span class="error">{{ form.year.errors }}</span>{% endif %}
		    </td>
			</tr>
			
			<tr>
		    <td><label for="id_page">Page</label></td>
		    <td><input type="text" name="page" id="id_page" />
		    {% if form.page.help_text %}  {{ form.page.help_text }}  {% endif %}
		    {% if form.page.errors %}<span class="error">{{ form.page.errors }}</span>{% endif %}
		    </td>
		    </tr>
		    
		    <tr>
		    <td><label for="id_research_field">Research field</label></td>
		    <td>{{ form.research_field }}
		    </td>
		    </tr>
		    
		    <tr>
			    <td></td>
			    <td>
				<input type="hidden" name="requester" value="{{ user.id }}"/>
				<input type="submit" value="Gửi yêu cầu"/>
				<input type="reset" value="Làm lại từ đầu"/>
			    </td>
		    </tr>
		    
		</table>
		
	</form>
  </div>
{% endblock %}

